{
  "name": "vg_index",
  "title": "vg_index",
  "summary": "vg_index",
  "dxapi": "1.0.0",
  "version": "0.0.1",
  "inputSpec": [
    {
      "name": "vg_tar",
      "class": "file",
      "optional": false,
      "type": "vg_tar",
      "patterns": ["*.vg.tar"]
    },
    {
      "name": "prune_complex_options",
      "class": "string",
      "default": "-l 16 -e 2"
    },
    {
      "name": "prune_subgraphs_options",
      "class": "string",
      "default": "-l 100"
    },
    {
      "name": "kmers_options",
      "class": "string",
      "default": "-k 16 -F"
    }
  ],
  "outputSpec": [
    {
      "name": "vg_indexed_tar",
      "class": "file",
      "type": "vg_indexed_tar",
      "patterns": ["*.vg.indexed.tar"]
    }
  ],
  "runSpec": {
    "interpreter": "bash",
    "file": "src/code.sh",
    "execDepends": [{"name": "libjansson4"}],
    "bundledDepends": [
      {
        "name": "gcc4.9_runtime_debs_trusty.tar",
        "id": {"$dnanexus_link": "file-BqVY4fQ00y3q7fP83xzqF95B"}
      },
      {
        "name": "vg_bundle.tar.gz",
        "id": {"$dnanexus_link": "VG_BUNDLE_DXID"}
      }
    ],
    "systemRequirements": {
      "main": {
        "instanceType": "mem3_ssd1_x32"
      }
    },
    "distribution": "Ubuntu",
    "release": "14.04"
  },
  "access": {
    "network": ["*"]
  },
  "authorizedUsers": []
}
